<div class="d-flex flex-column justify-content-center">
  <form class="justify-content-center border" novalidate>
    <div class="p-2">
      <label for="from" class="form-label">from</label>
      <input type="text" class="form-control" id="from" placeholder="Warszawa Centralna" value="" required>
    </div>

    <div class="p-2">
      <label for="to" class="form-label">to</label>
      <input type="text" class="form-control" id="to" placeholder="Kraków Główny" value="" required>
    </div>

    <div class="p-2">
      <label for="time" class="form-label">time</label>
      <input type="time" class="form-control" id="time" placeholder="" value="" required>
    </div>

    <div class="p-2 text-center">
      <button class="w-50 m-2 btn btn-primary btn-lg text-center" type="submit">search</button>
    </div>
  </form>
</div>
