<div class="d-flex flex-column justify-content-center" *ngIf="displaySearch">
  <form
    class="justify-content-center border"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >

    <div class="p-2">
      <label
        for="from"
        class="form-label"
      >
        from
      </label>

      <input
        type="text"
        id="from"
        class="form-control"
        formControlName="from"
        placeholder="Antwerp-Central"
        list="fromList"
        (click)="initNames()"
        (keyup)="initNames()"
        [ngClass]="{ 'is-invalid': submitted && form.controls['from'].errors }"
      />

      <datalist id="fromList">
        <option *ngFor="let item of stationNames" [value]="item">{{item}}</option>
      </datalist>

      <div *ngIf="submitted && form.controls['from'].errors" class="invalid-feedback">
        <div *ngIf="form.controls['from'].errors['required']">from is required</div>
      </div>
    </div>

    <div class="p-2">
      <label
        for="to"
        class="form-label"
      >
        to
      </label>

      <input
        type="text"
        id="to"
        class="form-control"
        formControlName="to"
        placeholder="Brussels-Central"
        list="toList"
        (click)="initNames()"
        (keyup)="initNames()"
        [ngClass]="{ 'is-invalid': submitted && form.controls['to'].errors }"
      />

      <datalist id="toList">
        <option *ngFor="let item of stationNames" [value]="item">{{item}}</option>
      </datalist>

      <div *ngIf="submitted && form.controls['to'].errors" class="invalid-feedback">
        <div *ngIf="form.controls['to'].errors['required']">to is required</div>
      </div>
    </div>

    <div class="p-2">
      <label
        for="time"
        class="form-label"
      >
        time
      </label>

      <input
        type="time"
        id="time"
        class="form-control"
        formControlName="time"
        [ngClass]="{ 'is-invalid': submitted && form.controls['time'].errors }"
      />

      <div *ngIf="submitted && form.controls['time'].errors" class="invalid-feedback">
        <div *ngIf="form.controls['time'].errors['required']">time is required</div>
      </div>
    </div>

    <div class="p-2 text-center">
      <button
        class="w-50 m-2 btn btn-primary btn-lg text-center"
        type="submit"
        (click)="onSubmit()"
      >
        search
      </button>
    </div>
  </form>
</div>

<div class="d-flex flex-column justify-content-center p-2 text-center" *ngIf="displayResults">
  <div class="p-2 text-center">{{connectionInfo}}</div>
  {{errorResults}}
  {{results}}
</div>
