<div class="d-flex flex-column justify-content-center">
  <form class="justify-content-center border" novalidate>

    <div class="p-2">
      <label for="email" class="form-label">email</label>
      <input type="email" class="form-control" id="email" placeholder="john@example.com" required>
    </div>

    <div class="p-2">
      <label for="password" class="form-label">password</label>
      <input type="password" class="form-control" id="password" placeholder="password" required>
    </div>

    <div class="p-2">
      <label for="confirmPassword" class="form-label">confirm password</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="confirm password" required>
    </div>

    <div class="p-2 text-center">
      <button class="w-50 m-2 btn btn-primary btn-lg text-center" type="submit">register</button>
    </div>
  </form>
</div>
